export(JMestim)
export(loglik)
export(loglik_i)
export(mixedMod)
export(phMod)
export(survBordo)
export(mergeDataLong)
export(mergeDataSurv)
export(createMatrixGK)
export(createX0)
export(removeNA)
export(RE)
export(CL)
export(CS)
export(Msplines)
S3method(print, JMestim)
S3method(print, mixedMod)
S3method(print, phMod)
S3method(summary, mixedMod)
S3method(summary, phMod)
S3method(summary, JMBordo)
S3method(coef, JMBordo)
S3method(vcov, JMBordo)
importFrom(randtoolbox, sobol)
importFrom(marqLevAlg, mla)
import(graphics, stats)
useDynLib(JMBordo, .registration=TRUE, .fixes="C_")
